<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-file-transfer-background"
      version="0.0.2">
    <name>Cordova Plugin Filetransfer Background</name>

    <description>Background Upload plugin for Apache Cordova</description>
    <license>ISC</license>
    <keywords>cordova,background,file,download</keywords>

    <dependency id="cordova-plugin-file" />

    <js-module src="www/Promise.js" name="Promise">
    </js-module>

    <js-module src="www/FileTransferManager.js" name="FileTransferManager">
        <clobbers target="FileTransferFacade.FileTransferManager" />
    </js-module>

    <js-module src="www/FileTransferUploadOperation.js" name="FileTransferUploadOperation">
        <clobbers target="FileTransferUploadOperation" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- Depend on v21 of appcompat-v7 support library -->
        <framework src="com.android.support:appcompat-v7:21+" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileTransferBackground" >
                <param name="android-package" value="org.apache.cordova.fileTransferBackground.FileTransferBackground"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*/application">
        <service
                android:name="org.apache.cordova.fileTransferBackground.FileTransferBackgroundService"
                android:icon="@drawable/filetransferbackground_icon"
                android:label="FileTransferBackgroundService"
                android:process=":FileTransferService"
                android:stopWithTask="false"
                android:exported="true">
            <intent-filter>
                <action
                        android:name="org.apache.cordova.fileTransferBackground.FileTransferBackgroundService" />
            </intent-filter>
        </service>
        </config-file>

        <source-file src="src/android/FileTransferBackground.java" target-dir="src/org/apache/cordova/fileTransferBackground" />
        <source-file src="src/android/FileTransferBackgroundService.java" target-dir="src/org/apache/cordova/fileTransferBackground" />
        <source-file src="src/android/FileTransferPluginCommandsApi.aidl" target-dir="src/org/apache/cordova/fileTransferBackground" />
        <source-file src="src/android/FileTransferServiceCommandsApi.aidl" target-dir="src/org/apache/cordova/fileTransferBackground" />
        <source-file src="src/android/filetransferbackground_icon.png" target-dir="res/drawable" />
    </platform>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FileTransferBackground" >
                <param name="ios-package" value="FileTransferBackground"/>
            </feature>
        </config-file>

        <header-file src="src/ios/FileTransferBackground.h" />
        <header-file src="src/ios/AppDelegate+notification.h" />
        <source-file src="src/ios/FileTransferBackground.m" />
        <source-file src="src/ios/AppDelegate+notification.m" />
    </platform>
    
</plugin>
